body {
  header {
    width: 50%;
    align-items: flex-start;

    img {
      font-size: 13px;
    }

    h1 {
      font-weight: 300;
      color: red;
    }

    p {
      .font-color {
        color: blue;
      }
    }

    ul li p {
      color: blue;
    }

    button {
      border-radius: 10px solid blue;
      color: white;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
  }
}
